extends ../../../views/layout

block content
  a(href="/auth/twitter")
    img(style='border: 0px', src='https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png')

  h3= "Select A Project"
  ul
    li
      a(href="cfd/pull") Pull CFD
    li
      a(href="cfd/personalization") Personalization CFD
    li
      a(href="cfd/humor") Humor CFD
